<div class="container">
    <h1 class="text-center">{{title}}</h1>

    <div class="row my-4">
        <div class="col-md-6 mb-4">
            <img class="img-fluid" src="/images/nosotros.jpg" alt="">
        </div>

        <div class="col-md-6 ">
            <p class="textos">
                Somos una tienda de computación y videojuegos nacida con el propósito de satisfacer a todos los jugadores gamers.
                <br> 
                Contamos con lo último en juegos de consola para PS4, PS5 y Nintendo Switch.

                También nos dedicamos a la venta de computadoras, notebooks, hardware y periféricos como teclados, mouse
                y auriculares de grandes marcas como Logitech, Corsair, Hyperx, Razer y Redragon entre otras.
            </p>
        </div>

    </div>

</div>